<body id='json-populate'>
  {% include 'header.html.twig' %}
  {% include 'form.html.twig' %}
  {% include 'iframe.html.twig' %}
  {% include 'split.html.twig' %}
  <script data-main="/assets/js/init.js" src="/assets/js/require.js"></script>
</body>