<body id='json-populate'>
  {% include 'header.html.twig' %}
  {% include 'form.html.twig' %}
  {% include 'iframe.html.twig' %}
  <script src="/assets/js/scripts.js" type="text/javascript"></script>
</body>